<div class="main-container">
    <div class="row min-height-700 no-flex-wrap">
        <div class="card col-sm-2" style="background-color: forestgreen;">
            <div class="col">
                <div>
                    <h2 style="color: white; justify-content: center;">AGCGFMservice</h2>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="card col-sm-10 min-height-600 backgeround-grey border-none">
            <div class="col d-flex flex-column justify-content-around">
                <div class="card p-4 min-height-80 mb-2">

                    <app-header></app-header>

                </div>
                <div class="card mb-2 min-height-488">

                    <router-outlet></router-outlet>

                </div>
                <div class="card min-height-80 bg-dark pied">
                    <footer class="text-center text-lg-start bg-secondary text-white ">
                        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                            <div class="me-5 d-none d-lg-block">
                                <span>Rejoignez-nous via nos réseaux sociaux :</span>
                            </div>
                            <div>
                                <span>
                                    <a href="" class="mr-4 text-reset">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </span>
                                <span>
                                    <a href="" class="mr-4 text-reset">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </span>
                                <span>
                                    <a href="" class="mr-4 text-reset">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </span>
                            </div>
                        </section>
                        <section class="">
                            <div class="container text-center text-md-start mt-5">
                                <div class="row mt-3">
                                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                        <h3 class="text-uppercase fw-bold mb-4">
                                            <i class="fas fa-gem mr-3"></i>A-G-C-G-F-M
                                        </h3>
                                        <p>
                                            Application de Gestion Commerciale et de Génération de Facture pour un Magasin.
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                            © 2023 Copyright:
                                            <a class="text-reset fw-bold" href="https://damo-service.com/">damo-service.com</a>
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                        <h3 class="text-uppercase fw-bold mb-4">Contact</h3>
                                        <p><i class="fas fa-home mr-3"></i> Sacré-Coeur, N° 11000, Dk</p>
                                        <p>
                                            <i class="fas fa-envelope mr-3"></i>
                                            damo-service@example.com
                                        </p>
                                        <p><i class="fas fa-phone me-3"></i> + 221 78 441 34 80</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
