<div class="main-container">
    <div class="row min-height-700 no-flex-wrap">
        <div class="card col-sm-2" style="background-color: forestgreen;">
            <div class="col">
                <div>
                    <h3>Gestion de stock v2.0</h3>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="card col-sm-10 min-height-600 backgeround-grey border-none">
            <div class="col d-flex flex-column justify-content-around">
                <div class="card p-4 min-height-80 mb-2">

                    <app-header></app-header>

                </div>
                <div class="card mb-2 min-height-488">

                    <router-outlet></router-outlet>

                </div>
                <div class="card min-height-80 pied">
                    pied
                </div>
            </div>
        </div>
    </div>
</div>
