<div class="col">
    <div class="row m-3">
        <div class="col-md-4 p-0">
            <h1>Mouvements du stock</h1>
        </div>
        <div class="col-md-4 p-0">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Rechercher par code article"
                       [(ngModel)]="codeArticles"
                       aria-label="Username"
                       aria-describedby="addon-wrappings">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrappings"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-0 text-right">
            <app-button-action
                    [isImporterVisible]="false"
                    [isNouveauVisible]="false">
            </app-button-action>
        </div>
    </div>
    <div class="col">
        <div class="accordion" id="mvtStkDetails"
             *ngFor="let muvStkArt of mouvStockArticle | filter: codeArticles
                        | paginate: {itemsPerPage: 1, currentPage:page, totalItems:totalLength}">
            <div class="card">
                <div class="card-body" id="headingOne">
                    <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                            [attr.data-target]="'#collapseOne'+muvStkArt.id"
                            aria-expanded="true" aria-controls="collapseOne">
                        <app-detail-mvt-stk-article
                                [mouvStockArticle]="muvStkArt">
                        </app-detail-mvt-stk-article>
                    </button>
                </div>
                <div id="collapseOne{{muvStkArt.id}}" class="collapse" aria-labelledby="headingOne"
                     data-parent="#mvtStkDetails" style="max-height: 300px;
        overflow-y: scroll">
                    <div class="card-body">
                        <app-detail-mvt-stk *ngFor="let muvstkArt of mouvStockArticle"
                            [detailmvstk]="muvstkArt" >
                        </app-detail-mvt-stk>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3" *ngIf="mouvStockArticle.length > 0">
        <div class=" col-md-12 text-center">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
<!--            <app-pagination></app-pagination>-->
        </div>
    </div>

</div>
