<div class="row m-3">
    <div class="card col-md-4 text-center mr-3">
        <div class="col">
            <div class="mb-3 mt-3">
                <img src="assets/client.png" class="rounded-circle" width="200px" height="200px"/>
            </div>
            <div class="mb-3">
                <h2>nom</h2>
                <small class="form-text text-muted">
                    adresse1,&nbsp;
                        ville,&nbsp;
                        adresse2
                </small>
            </div>
            <div class="col mb-3 p-0">
                <a href="javascript:void(0)" (click)="printPage()" class="btn btn-primary mr-3">
                    <i class="fas fa-pencil-alt"></i>&nbsp;imprimer la page</a>
            </div>
        </div>
    </div>
    <div class="card col-md-7">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Nom complet</th>
                <td>nom</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>email</td>
            </tr>
            <tr>
                <th scope="row">telephone</th>
                <td>numTel</td>
            </tr>
            <tr>
                <th scope="row">Adresse</th>
                <td>adresse1,&nbsp;
                    ville,&nbsp;
                    adresse2
                </td>
            </tr>
            <tr>
                <th scope="row">Entreprise</th>
                <td>nom</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

