<div class="row">
    <div class="col-md-10">
        <div class="card-header white-color bg-success pb-2">
            <h1 style="color: white;">
                <marquee>Application de Gestion Commerciale et de Génération de Facture pour un Magasin.</marquee>
            </h1>
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12 text-right">
                <button mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <a href="javascript:void(0);" (click)="profil()" class="white-color">
                            <img src="assets/client.png" width="30px" height="30px"
                                 class="rounded-circle" />&nbsp;&nbsp;
                            <span>Profil</span>
                        </a>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>user</mat-icon>
                        <div class="badge badge-success">
                            <i><b><span>{{connectedUser.nom}}</span></b></i>
                        </div>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>logout</mat-icon>
                        <div class="badge badge-danger">
                            <a href="javascript:void(0);" (click)="logoutUser()" class="cursor">
                                <span>Logout</span>
                            </a>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
