<div class="col">
    <div class="row m-3">
        <div class="col-md-4 p-0">
            <h1>Liste des fournisseurs</h1>
        </div>
        <div class="col-md-4">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Rechercher..."
                       [(ngModel)]="fournisseur"
                       aria-label="Username"
                       aria-describedby="addon-wrappings">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrappings"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right">
            <app-button-action
                    [isImporterVisible]="false"
                    [isExporterVisible]="false"
                    (clickEvent)="nouveauFournisseur()"
            ></app-button-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="alert alert-danger" *ngIf="errorMsg">
            {{ errorMsg }}
        </div>
        <app-detail-clt-frs *ngFor="let fournisseur of listFournisseur | filter: fournisseur
                | paginate:{ itemsPerPage:2, currentPage:page, totalItems:totalLength}"
                            [clientFournisseur]="fournisseur"
                            [origin]="'fournisseur'"
                            (suppressionResult)="handleSuppression($event)">
        </app-detail-clt-frs>
    </div>
    <div class="row mb-3" *ngIf="listFournisseur.length > 0">
        <div class=" col-md-12 text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
<!--            <app-pagination></app-pagination>-->
        </div>
    </div>

</div>
